# Dinkur the task time tracking utility.
# <https://github.com/dinkur/dinkur>
#
# SPDX-FileCopyrightText: 2021 Kalle Fagerberg
# SPDX-License-Identifier: CC-BY-4.0

[Unit]
Description=Dinkur daemon

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=%h/go/bin/dinkur daemon -v

[Install]
WantedBy=multi-user.target
