[Unit]
Description=Dinkur daemon

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=%h/go/bin/dinkur daemon -v

[Install]
WantedBy=multi-user.target
